<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>

</head>

<body>
    <main id="main">

        <section id="card" class="">
            <div id="card-header">
                <h1 class="card-title">
                    Syarat & Ketentuan
                </h1>
                <p class="card-description">
                    Silakan baca syarat dan ketentuan dengan seksama sebelum melanjutkan ke tahap selanjutnya.
                </p>
            </div>

            <!-- Card participant -->
            <div class="card-participant">
                <!-- isi dari komponen participant -->
            </div>

            <!-- Technical Handbook -->
            <div id="card-body" class="mb-4">
                <div class="card-title mb-3">
                    <h2 class="title lg">
                        Technical Handbook
                    </h2>
                    <p class="description mb-1">
                        Silahkan lihat dan baca panduan teknis acara di bawah ini.
                    </p>
                </div>

                <iframe src="https://drive.google.com/file/d/1KWWqDVAezl0RScrGUZmx4z0cnNU9zcur/preview" allow="autoplay"
                    style="width: 100%; height: 475px;"></iframe>

                <p class="mb-0 mt-3 ">
                    NOTE: Jika tidak dapat melihat dokumen di atas, silakan klik
                    <a href="https://drive.google.com/file/d/1KWWqDVAezl0RScrGUZmx4z0cnNU9zcur/view" target="_blank"
                        style="text-decoration: underline !important;">di sini</a>.
                </p>
            </div>

            <!-- Terms -->
            <div id="card-body" class="mb-4">
                <div class="card-title mb-2">
                    <h2 class="title lg">
                        Syarat & Ketentuan
                    </h2>
                </div>

                <div class="content ql-editor">
                    <p>Isi syarat &amp; ketentuan acara ditampilkan di sini.</p>
                </div>
            </div>

            <!-- Agreement -->
            <div id="card-body">
                <div class="card-title mb-2">
                    <h2 class="title lg">
                        Persetujuan
                    </h2>
                </div>

                <div class="form-check">
                    <input class="form-check-input" id="terms" type="checkbox">
                    <label class="form-check-label" for="terms">
                        Saya telah membaca dan menyetujui syarat dan ketentuan yang berlaku.
                    </label>
                </div>

                <div class="card-button on-side">
                    <button type="button" class="btn btn-secondary">
                        <i class="fi fi-rr-arrow-left"></i> Sebelumnya
                    </button>
                    <button type="button" class="btn btn-primary">
                        Nomor BIB <i class="fi fi-rr-arrow-right"></i>
                    </button>
                </div>
            </div>
        </section>



    </main>

    <!-- Bootstrap JS & Icons -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</body>

</html>
