<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="css/style.css" />
        <link
            rel="stylesheet"
            href="../../../../public/assets/css/custom.css"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <title>Document</title>
    </head>

    <body>
        <main id="main">
            <div id="card-navigation" class="">
                <div class="card-nav-item">
                    <button type="button" class="card-nav-btn">
                        <span>1</span>
                    </button>
                    <p class="card-nav-label">Data Diri</p>
                </div>

                <div class="card-nav-item">
                    <button type="button" class="card-nav-btn">
                        <span>2</span>
                    </button>
                    <p class="card-nav-label">Kontak Darurat &amp; Medis</p>
                </div>

                <div class="card-nav-item">
                    <button type="button" class="card-nav-btn">
                        <span>3</span>
                    </button>
                    <p class="card-nav-label">Racepack</p>
                </div>

                <div class="card-nav-item active">
                    <button type="button" class="card-nav-btn">
                        <span>4</span>
                    </button>
                    <p class="card-nav-label">Konfirmasi Data</p>
                </div>
            </div>

            <section id="card">
                <div
                    class="card mb-4 py-3 text-center"
                    style="border-radius: 16px"
                >
                    <h3 class="fw-bold mb-1" style="color: #375ad9">
                        Participant: 1/4
                    </h3>
                </div>
            </section>

            <section id="card">
                <!-- Personal Information Card -->
                <form id="card-body" class="mb-4">
                    <div class="card-title">
                        <h2 class="title lg">Personal Information</h2>
                        <p class="description">
                            Your personal information details.
                        </p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Email Address</label>
                        <span
                            class="d-block px-3 py-2 rounded"
                            style="background: #f4f7ff"
                            >user@email.com</span
                        >
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Full Name</label>
                        <span
                            class="d-block px-3 py-2 rounded"
                            style="background: #f4f7ff"
                            >Sutoto Jontor Pilot</span
                        >
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Phone Number</label>
                        <span
                            class="d-block px-3 py-2 rounded"
                            style="background: #f4f7ff"
                            >081234567234</span
                        >
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Gender</label>
                        <span
                            class="d-block px-3 py-2 rounded"
                            style="background: #f4f7ff"
                            >Laki-Laki</span
                        >
                    </div>

                    <div class="mb-3">
                        <label class="form-label">ID/Passport Number</label>
                        <span
                            class="d-block px-3 py-2 rounded"
                            style="background: #f4f7ff"
                            >123456789123451234</span
                        >
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Nationality</label>
                        <span
                            class="d-block px-3 py-2 rounded"
                            style="background: #f4f7ff"
                            >Indonesia</span
                        >
                    </div>

                    <div class="mb-3">
                        <label class="form-label">City</label>
                        <span
                            class="d-block px-3 py-2 rounded"
                            style="background: #f4f7ff"
                            >Kota Bogor</span
                        >
                    </div>
                </form>

                <!-- Emergency Contact & Medical Information Card -->
                <form id="card-body" class="mb-4">
                    <div class="card-title">
                        <h2 class="title lg">
                            Emergency Contact & Medical Information
                        </h2>
                        <p class="description">
                            Your emergency contact and medical details.
                        </p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Emergency Contact Name</label>
                        <span
                            class="d-block px-3 py-2 rounded"
                            style="background: #f4f7ff"
                            >Hendra Rahmat</span
                        >
                    </div>

                    <div class="mb-3">
                        <label class="form-label"
                            >Emergency Contact Phone Number</label
                        >
                        <span
                            class="d-block px-3 py-2 rounded"
                            style="background: #f4f7ff"
                            >081234567890</span
                        >
                    </div>

                    <div class="mb-3">
                        <label class="form-label"
                            >Relationship with Emergency Contact</label
                        >
                        <span
                            class="d-block px-3 py-2 rounded"
                            style="background: #f4f7ff"
                            >Brother</span
                        >
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Blood Type</label>
                        <span
                            class="d-block px-3 py-2 rounded"
                            style="background: #f4f7ff"
                            >O</span
                        >
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Medical History</label>
                        <span
                            class="d-block px-3 py-2 rounded"
                            style="background: #f4f7ff"
                            >Asthma (under control)</span
                        >
                    </div>
                </form>

                <!-- Running Event Information Card -->
                <form id="card-body">
                    <div class="card-title">
                        <h2 class="title lg">Running Event Information</h2>
                        <p class="description">Your race and event details.</p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Category</label>
                        <span
                            class="d-block px-3 py-2 rounded"
                            style="background: #f4f7ff"
                            >Fun Run - 10K</span
                        >
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Shirt Size</label>
                        <span
                            class="d-block px-3 py-2 rounded"
                            style="background: #f4f7ff"
                            >XL</span
                        >
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Race Kit Collection</label>
                        <span
                            class="d-block px-3 py-2 rounded mb-2"
                            style="background: #f4f7ff"
                            >On-site</span
                        >
                        <span
                            class="d-block px-3 py-2 rounded"
                            style="background: #f4f7ff"
                            >1 August 2024 - Afternoon Session (15:00 -
                            17:00)</span
                        >
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Running Community Name</label>
                        <span
                            class="d-block px-3 py-2 rounded"
                            style="background: #f4f7ff"
                            >BRT2023-014</span
                        >
                    </div>

                    <div class="card-button on-side">
                        <a
                            href="registration-three.html"
                            class="btn btn-outline-secondary"
                        >
                            <img
                                src="../../../../public/assets/images/icons/ic-arrow-back.svg"
                                alt="Back"
                                style="width: 13px; height: 11px"
                            />
                            Back
                        </a>
                        <a
                            href="terms-and-conditions.html"
                            class="btn btn-primary"
                        >
                            Next
                            <img
                                src="../../../../public/assets/images/icons/ic-arrow-next.svg"
                                alt="Next"
                                style="width: 13px; height: 11px"
                            />
                        </a>
                    </div>
                </form>
            </section>
        </main>

        <!-- Bootstrap JS & Icons -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
        />
    </body>
</html>
